<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="card-style">
    <ion-card-header>
      <ion-card-title>Formulario de Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- Nombre -->
        <ion-item>
          <ion-input
          class="ion-text-capitalize"
            required="true"
            label-placement="floating"
            label="Nombre"
            type="text"
            placeholder="Introduce tu nombre"
            [(ngModel)]="user.nombre"
            name="nombre"
          ></ion-input>
        </ion-item>

        <!-- Apellidos -->
        <ion-item>
          <ion-input
          class="ion-text-capitalize"
          autocorrect="on"
            required="true"
            label-placement="floating"
            label="Apellidos"
            type="text"
            placeholder="Introduce tus apellidos"
            [(ngModel)]="user.apellido"
            name="apellidos"
          ></ion-input>
        </ion-item>

        <!-- Dirección -->
        <ion-item>
          <ion-input
          class="ion-text-capitalize"
            required="true"
            label-placement="floating"
            label="Dirección"
            placeholder="Introduce tu dirección"
            [(ngModel)]="user.direccion"
            name="direccion"
          ></ion-input>
        </ion-item>

         <!-- Fecha de nacimiento -->
         <ion-item>
          <ion-input
            required="true"
            label-placement="floating"
            type="date"
            label="Fecha de nacimiento"
            placeholder="Introduce tu Fecha de nacimiento"
          
            name="Fecha de nacimiento"
          ></ion-input>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-input
            required="true"
            label-placement="floating"
            label="Email"
            type="email"
            placeholder="Introduce tu email"
            [(ngModel)]="user.email"
            name="email"
          ></ion-input>
        </ion-item>

        <!-- Disciplina -->
        <ion-item>
          <ion-select
            [multiple]="true"
            interface="popover"
            label="Disciplina"
            label-placement="floating"
            [(ngModel)]="user.disciplina"
            name="disciplina"
          >
            <ion-select-option value="Aikido">Aikido</ion-select-option>
            <ion-select-option value="Kenjutsu">Kenjutsu</ion-select-option>
            <ion-select-option value="Karate">Karate</ion-select-option>
            <ion-select-option value="Hapkido">Hapkido</ion-select-option>
          </ion-select>
        </ion-item>

        

        <!-- Telefono -->
        <ion-item>
          <ion-input
         
            required="true"
            label-placement="floating"
            label="Telefono"
            type="number"
            placeholder="Introduce tu Telefono"
            [(ngModel)]="user.telefono"
            name="telefono"
          ></ion-input>
        </ion-item>

        <!-- Foto -->
        <ion-item>
          <ion-avatar *ngIf="photoService.fotoUrl!==''" slot="end">
            <img [src]="[photoService.fotoUrl]" />
          </ion-avatar>

          <ion-button color="secondary" expand="block" (click)="selectPhoto()"
            >Subir Foto</ion-button
          >
        </ion-item>
        <!-- Botón de Enviar -->
        <ion-button
          (click)="submitForm(user)"
          type="submit"
          expand="block"
          color="success"
          shape="round"
          >Registrar</ion-button
        >
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
