<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title > Usuarios </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-text-uppercase">Busqueda</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item-sliding *ngFor="let user of getList()">
          <ion-item lines="none" [button]="true">
            <ion-avatar aria-hidden="true" slot="start">
              <img
                alt=""
                [src]="['https://api.usr.albertolopma.top/img/'+user.imagenurl]"
              />
            </ion-avatar>
            <div class="ion-text-end" id="datos">
              <ion-label >{{user.nombre}}, {{user.apellido}} </ion-label>
              <ion-note>{{user.telefono}} </ion-note>
            </div>
            
          </ion-item>
          <ion-item-options>
            <ion-item-option  (click)="borrarContacto(user.id)" color="danger">
              <ion-icon slot="top" name="trash-outline"></ion-icon>
              Borrar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
